#Render Email Configuration
RESEND_API_KEY=your-resend-api-key
RESEND_FROM_EMAIL=from-email
NOTIFICATION_EMAIL=to-email

# MongoDB Configuration
# For local MongoDB: mongodb://localhost:27017/portfolio
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/portfolio
MONGODB_URI=mongodb://localhost:27017/portfolio

# Server Configuration
PORT=3000

# Frontend URL (for CORS) - set this to your Vercel deployment URL
FRONTEND_URL=https://your-app.vercel.app
